body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.tab {
    padding: 10px 20px;
    background-color: #f0f0f0;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 5px;
}

.tab:hover {
    background-color: #ccc;
}

.tab-content {
    position: relative;
    margin-top: 20px;
    height: calc(100% - 40px); /* Высота экрана минус высота табов */
}

.content {
    padding: 20px;
    border-radius: 5px;
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.content.active {
    display: block;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}
